<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titlePage %></title> <%# menampilkan string atau nilai suatu variabel ke html ejs %>
  <link rel="stylesheet" href="../main.css">
</head>
<body>
  <%- include('layout/navigation.ejs') %> 

  <main>
    <h1>Error Occured!</h1>
    <p>We're working on fixing this, sorry for the error</p>
  </main>
</body>
</html>